#main_contact{
  position: relative;
  margin-top: 0px;
  // width: 100%;
  height: 80vh;
}

/* PAGE CONTACT US */
.main_contact{
    margin-bottom: 20px;
  }
  .astronaut4{
    width: 200px;
    height: 300px;
    background: url(../../svg/astronaut_contact.svg) no-repeat;
    background-size: contain;
  }
  
  .contact_container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 20px;
    /* padding: 80px 80px 80px 80px; */
  }

  .article4{
    .headline_contact{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 2.2rem;
        color: #FF0080;
      }
  }
  
  .contact_us{
    position: relative;
    width: 500px;
    height: 400px;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-clip: padding-box;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.3+0,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  }
  
  .contact_us::before  {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    padding: 4px; /* control the border thickness */
    background: linear-gradient(45deg, #00B4DC, #FF0080);
    mask:linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask:linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;mask-composite: exclude;
    pointer-events: none;
  }
  
  #textarea{
    border: none;
    background: transparent;
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    border-bottom: #00B4DC;
  }
  
  .contact_us #name, #email {
    width: 350px;
    border: none;
    border-bottom: 1px solid #00D1FF;
    background: transparent;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .contact_us ::placeholder{
    color: #9DE0E9;
  }
  
  .contact_us input{
    position: relative;
    width: 180px;
    height: 45px;
    left: -20px;
    border: none;
    border-radius: 10px;
    background-color: #FF0080;
    color: white;
  }
  
  .icon_send{
    position: relative;
    top: 2px;
    left: 12px;
    z-index: 2;
  }