* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}


* {
  box-sizing: border-box;
}

/* MONSERRAT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body{
  // width: 100%;
  // height: 80vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8b1852+14,8b1852+14,200039+56,200039+56 */
  background: #8b1852; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #8b1852 14%, #8b1852 14%, #200039 56%, #200039 56%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #8b1852 14%,#8b1852 14%,#200039 56%,#200039 56%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #8b1852 14%,#8b1852 14%,#200039 56%,#200039 56%) no-repeat;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b1852', endColorstr='#200039',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
}

header{
  width: 100%;
}